{% extends "base.html"%}
{% block content %}
<div class="jumbotron">
<center>
  <h2 class="display-5">Here you can add your recipe to the collection.</h2>
  <p class="lead">Just fill in the form and click <font font size="5">Add</font> button.
    <br>
    NB! Please check if recipe already exists before you enter it!
    <br>
    If something went wrong with your recipe, you can delete it (scroll down at Collection page).
    <br>Please do not delete recipes that you haven't added.
    <br>The collection is reviewed regularly and inappropriate content will be removed.</p>

  <hr class="my-4">
<div id="addform">
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <div class="form-group">
      {{ form.recipe_name.label }}
      <br>
      {{ form.recipe_name(cols="25", rows="1")}}
      <br>
      {{ form.recipe_content.label }}
      <br>
      {{ form.recipe_content(cols="45", rows="8")}}
      </div>
      <br>
      {{ form.submit() }}
  </form>
  </div>
</center>
</div>

{% endblock %}
