{% extends "base.html"%}
{% block content %}
<div class="jumbotron">
<center>
  <h1 class="display-4">Looking for good recipes?
    <br>Or wish to share one?</h1>
  <p class="lead">You are in the right place. Here you can search for good recipes. Simply go to <font font size="5"> Collection of recipes</font>.
    <br>
    If you have invented or found your own fantastic meal you wish to share just go to <font font size="5"> Add </font> page and share your recipe.</p>
      <img src="../static/dinner.jpg" width=26%>
  <hr class="my-4">
  <p>... and remember, you are what you eat!</p>
</center>
</div>

{% endblock %}
