{% extends "base.html"%}
{% block content %}
<div class="jumbotron">
<center>
  <h1 class="display-5">You tried to delete recipe that does not exist.</h1>
    <p>Please check recipe ID, if you still wish to delete a recipe.</p>
<hr class="my-4">
      <img src="../static/sweet2.jpg" width=35%>

</center>
</div>

{% endblock %}
