{% extends "base.html"%}
{% block content %}
<div class="jumbotron">
<center>
  <h1 class="display-5">Looking for good recipes?</h1>
  <h2 class="display-5">Just check out the collection below and have a great meal!</h2>
  <hr class="my-4">
  <div id="carousel">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../static/meatdish.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/sauce.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/sweet.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/fishdish.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
  </div>
  </div>
  </center>

<div id="recipelist">
  <ul style="list-style-type:none;">
    {% for recipe in recipes  %}
    <li><h2 class="display-5">{{recipe.name}}</h2></li>
    <ul style="list-style-type:none;">
      <li>{{recipe.content}}</li>
      <li>Recipe ID: {{recipe.id}}</li>
        </ul>
        <br><br>
    {% endfor %}
  </ul>
  </div>
  <br>
<center>
  <hr class="my-4">

  <h2>Did something went wrong with your recipe?</h2>
  <p>Insert the ID of your recipe to remove it from the database.</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.id.label }} {{ form.id() }}
      {{ form.submit() }}
  </form>
</center>


{% endblock %}
